$black: #000;
$white: #fff;
$mainBlue: #3b82f6;
$lighBlue: #60a5fa;



.conatinaer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    border: 1px solid $white;
    border-radius: 20px;
}


.page{
    border: 1px solid $white;
    padding: 1em;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover{
        background-color: $mainBlue;
    }

    &:first-child{
        border-radius: 10px 0 0 10px;
    }
    &:last-child{
        border-radius: 0 10px 10px 0;
    }

}

.active{
    background-color: $mainBlue;
    color: $white;
}