.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
  z-index: 100;
}
.container:hover {
  background-color: #000;
  transition: all 0.5s ease;
}

.scrolled {
  background-color: #000;
  transition: all 0.2s ease;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1536px;
  margin: auto;
}

.navigationList {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  list-style: none;
}

.navItem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
}
.navItem:hover::after {
  scale: 1;
}
.navItem:hover .innerNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin: auto 0;
  border-radius: 10px;
  background-color: #3b82f6;
  transition: all 0.2s ease;
  scale: 0;
  z-index: 100;
}

.navIcon {
  width: 15px;
  height: 15px;
}

.userNavBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #fff;
  cursor: pointer;
}

.userNavBoxItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #fff;
  cursor: pointer;
}

.userNavBoxDropdown {
  position: absolute;
  width: 100%;
  min-width: 200px;
  top: 100%;
  left: 0;
  transform: translateX(-50%);
  background: #000;
  cursor: default;
}
.userNavBoxDropdown ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  padding: 1em;
  cursor: default;
}
.userNavBoxDropdown ul li:hover {
  color: #3b82f6;
  transition: all 0.2s ease;
  cursor: pointer;
}

.userImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #3b82f6;
}

.searchBar {
  position: absolute;
  background-color: #000;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1em;
  outline: none;
  font-size: 1.2em;
  border-radius: 5px;
}
.searchBar:active, .searchBar:focus {
  border: 2px solid #3b82f6;
  caret-color: #3b82f6;
}

.navbarSearchContainer {
  height: 100%;
}

.innerNavigation {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(-50%);
  background-color: #000;
  width: 70vw;
  min-width: 500px;
  max-width: 950px;
  padding: 1em;
  z-index: 100;
  min-width: 300px;
  border-radius: 0 0 20px 20px;
  cursor: default;
}
.innerNavigation ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
.innerNavigation ul li:hover {
  color: #3b82f6;
  transition: all 0.2s ease;
  cursor: pointer;
}

.innerNavigationCategoryList {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}

.innerNavPopular {
  padding-left: 2em;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  border-left: 2px solid #3b82f6;
  width: 100%;
  min-width: 800px;
}

.innerNavPopularItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  width: 225px;
  height: auto;
  min-height: 120px;
  border-radius: 20px;
  padding: 1em;
  cursor: pointer;
}

.innerNavPopularItemImage {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}/*# sourceMappingURL=navbar.module.css.map */