.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;

    h2{
        margin-left: 2em;
    }
}

.seasonList{
    width: 100%;
    max-height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    margin-top: 20px;
    padding: 0 20px;
    list-style: none;
    overflow-y: scroll;

    @media screen and (max-width: 768px){
        grid-template-columns: 1fr;
    }
}

.seasonImageContainer{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 20px;

    @media screen and (max-width: 768px){
        width: 100%;
    }
}

.seasonImage{
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
}

.seasonInfo{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;

    h3{
        margin: 1em 0;
    }

    @media screen and (max-width: 768px){
        align-items: center;
    }

}

.seasonInfoText{
    display:flex;
    gap: 1em;
    
}

